body {
    margin: 5% 22.2%;
    max-width: 700px;
}

header, .text_center {
    text-align: center;
}

header>h1 {
    margin-bottom: 0.5%;
    font-size: 1.9em;
}

address {
    font-size: 1.32em;
}

h2 {
    font-size: 1.4em;
}

.left_image {
    float: left;
    margin: 0 10px 0 0;
}

.text_right {
    text-align:right
}

.central_image {
    display: block;
    margin: 0 auto;
} 

ul, ol {
    padding-top: 2em;
}